@inject BattleReportService BattleReportService
@inject SettingService SettingService

<MudDialog>
    <TitleContent>
        @if (Match.HasValue)
        {
            <div class="d-flex text-center justify-content-center align-items-center">
                <MudText Typo="Typo.h4">@Match.Value.Item1</MudText>
                <MudText Typo="Typo.h5" Class="mx-3">vs</MudText>
                <MudText Typo="Typo.h4">@Match.Value.Item2</MudText>
            </div>
        }
    </TitleContent>
    <DialogContent>
        @if (Match.HasValue)
        {
            <MudGrid Class="pa-3">
                <MudItem sm="12" >
                    @{
                        int wins = _battles.Count(x => x.IsWin(SettingService.Settings));
                        int loses = _battles.Count(x => x.IsLose(SettingService.Settings));
                        int draws = _battles.Count(x => x.IsDraw());
                    }
                    <MudText Typo="Typo.subtitle1" Class="text-center">
                        <b class="@Result.Win.ToString()">@wins</b> Gewonnen
                        <span class="mx-2 grey-text text-darken-1">|</span>
                        <b class="@Result.Draw.ToString()">@draws</b> Gelijkspel
                        <span class="mx-2 grey-text text-darken-1">|</span>
                        <b class="@Result.Lose.ToString()">@loses</b> Verloren
                    </MudText>
                </MudItem>
                <MudItem sm="6">
                    <MudTable Items="@_enemyPlayers" Hover="true" Breakpoint="Breakpoint.Sm" FixedHeader="true" Dense="true" Bordered="true"> 
                        <HeaderContent>
                            <MudTh Style="text-align: center">#</MudTh>
                            <MudTh Style="text-align: center">
                                <MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<IGrouping<string?, Player>, object>(x => x.Count())">Battles</MudTableSortLabel>
                            </MudTh>
                            <MudTh>
                                <MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<IGrouping<string?, Player>, object>(x => x.Key ?? string.Empty)">Speler</MudTableSortLabel>
                            </MudTh>
                            <MudTh>
                                Tanks
                            </MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            @{
                                var index = _enemyPlayers.FindIndex(x => x.Key == context.Key) + 1;
                            }
                            <MudTd DataLabel="#" Style="text-align:center;vertical-align: text-top;">@index</MudTd>
                            <MudTd DataLabel="Battles" Style="text-align: center; vertical-align: text-top;">@context.Count()</MudTd>
                            <MudTd DataLabel="Speler" Style="vertical-align: text-top;">@context.Key</MudTd>
                            <MudTd DataLabel="Tanks">
                                @foreach(var vehicle in context.GroupBy(x => x.Vehicle).OrderByDescending(x => x.Count()))
                                {
                                    <div class="d-flex justify-space-between">
                                        <span>@vehicle.Key</span>
                                        <span>@(100 / context.Count() * vehicle.Count())%</span>
                                    </div>
                                }
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudItem>
                <MudItem sm="6">
                    <MudTable Items="@_battles" Hover="true" Breakpoint="Breakpoint.Sm" FixedHeader="true" Dense="true" Bordered="true">
                        <HeaderContent>
                            <MudTh>
                                <MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<BattleReport, object>(x => x.MatchTimeDisplay)">Datum</MudTableSortLabel>
                            </MudTh>
                            <MudTh>
                                <MudTableSortLabel SortBy="new Func<BattleReport, object?>(x => x.MatchDuration)">Duratie</MudTableSortLabel>
                            </MudTh>
                            <MudTh>
                                <MudTableSortLabel SortBy="new Func<BattleReport, object>(x => x.MapName ?? string.Empty)">Map</MudTableSortLabel>
                            </MudTh>
                            <MudTh>
                                Winnaar
                            </MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            @{
                                Team? ownTeam = context.GetOwnTeam(SettingService.Settings);
                            }
                            <MudTd DataLabel="Datum">@context.MatchTimeDisplay</MudTd>
                            <MudTd DataLabel="Duratie">@context.MatchDurationDisplay</MudTd>
                            <MudTd DataLabel="Map">@context.MapName @ownTeam?.Base</MudTd>
                            <MudTd DataLabel="Winnaar" class="@ownTeam?.Result.ToString()">
                                @(context.Team1.IsWinner == true ? context.Team1.Abbreviation : context.Team2.Abbreviation)
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudItem>
            </MudGrid>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Sluiten</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    public required IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public (string, string)? Match { get; set; }

    private List<BattleReport> _battles = [];
    private List<IGrouping<string?, Player>> _enemyPlayers = [];

    protected override void OnParametersSet()
    {
        if (Match is not null)
        {
            _battles = BattleReportService.BattleReports
                .Where(x =>
                    (x.Value.Team1.Abbreviation?.Equals(Match.Value.Item1, StringComparison.OrdinalIgnoreCase) ?? false) &&
                    (x.Value.Team2.Abbreviation?.Equals(Match.Value.Item2, StringComparison.OrdinalIgnoreCase) ?? false)
                    ||
                    (x.Value.Team1.Abbreviation?.Equals(Match.Value.Item2, StringComparison.OrdinalIgnoreCase) ?? false) &&
                    (x.Value.Team2.Abbreviation?.Equals(Match.Value.Item1, StringComparison.OrdinalIgnoreCase) ?? false)
                )
                .Select(x => x.Value)
                .ToList();

            _enemyPlayers = _battles
                .Select(x => x.Team1.IsOwnTeam(SettingService.Settings) ? x.Team2 : x.Team1)
                .SelectMany(x => x.Players)
                .GroupBy(x => x.Name)
                .OrderByDescending(x =>x.Count())
                .ToList();
        }
    }

    void Cancel() => MudDialog.Close(DialogResult.Ok(true));
}
