@page "/"
@using System.Collections.ObjectModel;
@using System.Collections.Specialized;

@inject BattleReportService BattleResultService;
@inject SettingService SettingService;
@inject IJSRuntime JSRuntime;
@inject IDialogService DialogService

<MudToolBar Style="background-color:var(--mud-palette-surface)">
    <MudGrid Justify="Justify.SpaceBetween">
        <MudItem sm="4" Class="d-flex align-center">
            <MudText Typo="Typo.subtitle1">Gevechten sinds @SettingService.Settings.LoadBattlesSince?.ToString("dd/MM/yyyy")</MudText>
            @if (TankNameResolver.UndefinedTankNames.Any() || MapNameResolver.UndefinedMapNames.Any())
            {
                <MudIconButton Class="ml-4" Icon="@Icons.Material.Filled.Warning" Size="@Size.Small" Color="@Color.Warning" OnClick="OpenUndefinedNamesDialog"></MudIconButton>
            }
        </MudItem>
        <MudItem sm="4" Class="d-flex align-center">
            <MudTextField @bind-Value="searchString" DebounceInterval="500" Placeholder="Zoek op speler naam of clan tag" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </MudItem>
        <MudItem sm="4" Class="d-flex align-center justify-end">
            <MudCheckBox @bind-Value="@_showOnlyUnkown" Label="Onbekende matches"></MudCheckBox>
            <MudButton Variant="Variant.Filled" Class="ml-4" Color="Color.Primary" OnClick="() => _hideNormalMatchMaking = !_hideNormalMatchMaking">
                @(_hideNormalMatchMaking ? "Clan" : "Alle") gevechten
            </MudButton>
        </MudItem>
    </MudGrid>
</MudToolBar>

<MudTable Items="@_reports" FixedHeader="true" FixedFooter="true" Dense="true" Hover="true" Virtualize="true" Bordered="true" Loading="@_loading" GroupHeaderStyle="background-color:var(--mud-palette-background-grey)" GroupHeaderClass="group-info"
          RowClassFunc="@SelectedRowClass" Filter="new Func<BattleReport,bool>(TableFilter)" Height="calc(100vh - 128px);" Class="report-table" RowClass="@(SettingService.Settings.OnlyHighlistOwnMatches ? "highlight-own-result match-info" : "match-info")" GroupBy="@_groupDefinition" AllowUnsorted="false">
    <ColGroup>
        <col style="width: 50px" />
        <col style="width: 50px" />
        <col style="width: 150px;" />
        <col style="width: 150px;" />
        <col style="width: 50px;" />
        <col style="width: 200px;" />
        <col />
        <col style="width: 100px;" />
        <col style="width: 50px" />
    </ColGroup>
    <HeaderContent>
        <MudTh Style="text-align:center; cursor: pointer;" @onclick="CollapseAllBattleReports"><MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowUp" OnClick="CollapseAllBattleReports" Variant="Variant.Text" Size="Size.Small" /></MudTh>
        <MudTh Style="text-align: center">#</MudTh>
        <MudTh Style="text-align: center"><MudTableSortLabel SortBy="new Func<BattleReport, object>(x=>x.MatchStart)">Start datum</MudTableSortLabel></MudTh>
        <MudTh Style="text-align: center"><MudTableSortLabel SortBy="new Func<BattleReport, object>(x=>x.MatchEnd)">Eind datum</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<BattleReport, object>(x=>x.MatchDuration)">Duratie</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<BattleReport, object>(x=>x.MapName)">Map</MudTableSortLabel></MudTh>
        <MudTh>VS</MudTh>
        <MudTh Style="text-align: center">Uitslag</MudTh>
        <MudTh Style="text-align: center">#</MudTh>
    </HeaderContent>
    <GroupHeaderTemplate>
        <MudTh Class="mud-table-cell-custom-group " colspan="8">
            @{
                var wins = context.Items.Count(x => x.IsWin(SettingService.Settings));
                var loses = context.Items.Count(x => x.IsLose(SettingService.Settings));
                var draws = context.Items.Count(x => x.IsDraw());
                var unknowns = context.Items.Count(x => x.IsUnkown());

                var totalBattles = wins + loses + draws;
                var winPercentage = 0m;
                if (totalBattles > 0)
                {
                    winPercentage = 100m / totalBattles * wins;
                }
                var percentage_color = winPercentage > 50 ? "Win" : winPercentage < 40 ? "Lose" : "Draw";

            }
            <div class="d-flex justify-space-between">
                <MudText Typo="Typo.subtitle1" Class="d-inline"><b>@context.Key</b>, <b>@context.Items.Count()</b> gevechten <span class="ml-2 @percentage_color">@winPercentage.ToString("0.00")%</span> </MudText>
                <MudText Typo="Typo.subtitle1" Class="d-inline">

                    <b class="@Result.Win.ToString()">@wins</b> Gewonnen
                    <span class="mx-2 grey-text text-darken-1">|</span>
                    <b class="@Result.Draw.ToString()">@draws</b> Gelijkspel
                    <span class="mx-2 grey-text text-darken-1">|</span>
                    <b class="@Result.Lose.ToString()">@loses</b> Verloren
                    <span class="mx-2 grey-text text-darken-1">|</span>
                    <b>@unknowns</b> Onbekend
                </MudText>
            </div>
        </MudTh>
        <MudTh></MudTh>
    </GroupHeaderTemplate>
    <RowTemplate>
        @if (context.Error != null)
        {
            <MudTd colspan="7"><MudAlert Severity="Severity.Warning">@context.Error</MudAlert></MudTd>
        }
        else
        {

            var group = _reports.Where(x => TableFilter(x)).GroupBy(x => x.Group).First(x => x.Any(i => i.FileName == context.FileName)).OrderBy(x => x.MatchStart).ToList();
            var index = group.FindIndex(x => x.FileName == context.FileName) + 1;

            Team ownTeam = context.GetOwnTeam(SettingService.Settings);
            var mapBase = ownTeam == null ? string.Empty : ownTeam.Number == 1 ? "I" : "II";

            var result = "Onbekend";
            if (ownTeam != null)
            {
                result = ownTeam.ResultDisplay;
            }

            var id = $"Timestamp_{context.MatchStart.Ticks + context.MatchDuration.GetValueOrDefault()}_achor";

            <MudTd Class="relative" @onclick="() => ToggleShowDetailsAsync(context)" Style="text-align:center;cursor: pointer">
                @if (context.ShowDetails)
                {
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.KeyboardArrowDown" Variant="Variant.Text" @onclick="() => ToggleShowDetailsAsync(context)" />
                }
                else
                {
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.KeyboardArrowRight" Variant="Variant.Text" @onclick="() => ToggleShowDetailsAsync(context)" />
                }
                <a id="@id" style="position: absolute; top:-80px;" />
            </MudTd>
            <MudTd Style="text-align:center;">@index</MudTd>
            <MudTd Style="text-align:center;" DataLabel="MatchStart">@context.MatchStart.ToString("dd/MM/yyyy HH:mm")</MudTd>
            <MudTd DataLabel="MatchEnd">@context.MatchEnd?.ToString("dd/MM/yyyy HH:mm")</MudTd>
            <MudTd DataLabel="Duration">@context.MatchDurationDisplay</MudTd>
            <MudTd DataLabel="MapName">@context.MapName @mapBase</MudTd>
            <MudTd DataLabel="Versus" Class="versus-column">
                <div class="versus-info">
                    <span>
                        <strong class="@context.Team1.Result.ToString() @(ownTeam?.Number == 1? "highlight" : "")">@context.Team1.Abbreviation</strong>
                    </span>
                    <span>
                        vs
                    </span>
                    <span>
                        <strong class="@context.Team2.Result.ToString() @(ownTeam?.Number == 2? "highlight" : "")">@context.Team2.Abbreviation</strong>
                    </span>
                </div>
                <MudIconButton Variant="Variant.Outlined" Color="Color.Default" Size="Size.Small" Icon="@Icons.Material.Filled.ContentCopy" OnClick="(e) => CopyResultAsync(context, ownTeam)" Style="float:right;" Disabled="(ownTeam == null)" />
            </MudTd>
            <MudTd Style="text-align:center;" DataLabel="Result" Class="@ownTeam?.Result.ToString()">@result</MudTd>
            <MudTd Style="text-align:center;">@index</MudTd>
        }
    </RowTemplate>
    <ChildRowContent>
        @if (context.ShowDetails)
        {
            <MudTr>
                <td colspan="9" class="pa-4 mud-table-cell relative">
                    <MudGrid Spacing="1">
                        <TeamStats Team="@context.Team1" Map="@context.MapName" />
                        <TeamStats Team="@context.Team2" Map="@context.MapName" />
                    </MudGrid>
                </td>
            </MudTr>
        }
    </ChildRowContent>
    <FooterContent>
        <MudTd colspan="8" Class="mud-background-gray">
            @{
                var filteredReports = _reports.Where(x => TableFilter(x)).ToList();
                var wins = filteredReports.Count(x => x.IsWin(SettingService.Settings));
                var loses = filteredReports.Count(x => x.IsLose(SettingService.Settings));
                var draws = filteredReports.Count(x => x.IsDraw());
                var unknowns = filteredReports.Count(x => x.IsUnkown());

                var totalBattles = wins + loses + draws;
                var winPercentage = 0m;
                if (totalBattles > 0)
                {
                    winPercentage = 100m / totalBattles * wins;
                }
                var percentage_color = winPercentage > 50 ? "Win" : winPercentage < 40 ? "Lose" : "Draw";
            }
            <div class="d-flex justify-space-between">
                <MudText Typo="Typo.subtitle1" Class="d-inline text-bold">Totaal <b>@filteredReports.Count</b> gevechten  <span class="ml-2 @percentage_color">@winPercentage.ToString("0.00")%</span></MudText>
                <MudText Typo="Typo.subtitle1" Class="d-inline">
                    <b class="@Result.Win.ToString()">@wins</b> Gewonnen
                    <span class="mx-2 grey-text text-darken-1">|</span>
                    <b class="@Result.Draw.ToString()">@draws</b> Gelijkspel
                    <span class="mx-2 grey-text text-darken-1">|</span>
                    <b class="@Result.Lose.ToString()">@loses</b> Verloren
                    <span class="mx-2 grey-text text-darken-1">|</span>
                    <b>@unknowns</b> Onbekend
                </MudText>
            </div>
        </MudTd>
        <MudTd Class="mud-background-gray"></MudTd>
    </FooterContent>
</MudTable>



@code {
    private bool _loading = true;
    private string searchString = "";
    private bool _hideNormalMatchMaking = true;

    private bool _showOnlyUnkown = false;

    private List<BattleReport> _reports = new List<BattleReport>();
    private TableGroupDefinition<BattleReport> _groupDefinition = new()
        {
            Indentation = false,
            Expandable = false,
            Selector = (e) => e.Group
        };

    protected override async Task OnInitializedAsync()
    {
        BattleResultService.LoadingBattleReportsStarted += async (s, e) =>
        {
            await InvokeAsync(() =>
            {
                _reports = new List<BattleReport>();
                _loading = true;
                StateHasChanged();
            });
        };

        BattleResultService.BattleReportAdded += (s, e) =>
        {
            _reports.Add(e.Report);
        };

        BattleResultService.BattleReportRemoved += (s, e) =>
       {
           _reports.Remove(e.Report);
       };

        BattleResultService.LoadingBattleReportsFinished += async (s, e) =>
        {
            await InvokeAsync(() =>
            {
                _reports = BattleResultService.BattleReports.OrderByDescending(x => x.Value.MatchStart).Select(x => x.Value).ToList();
                _loading = false;
                StateHasChanged();
            });
        };

        await Task.Run(() => BattleResultService.LoadBattleReports());

        _loading = false;
    }

    private string SelectedRowClass(BattleReport report, int rowNumber)
    {
        return report?.ShowDetails ?? false ? "selected" : string.Empty;
    }

    private bool TableFilter(BattleReport report)
    {
        bool show = false;
        if (_hideNormalMatchMaking && (report.Team1.Abbreviation == null || report.Team1.Abbreviation == "?")
                                   && (report.Team2.Abbreviation == null || report.Team2.Abbreviation == "?"))
            show = false;
        else if (string.IsNullOrWhiteSpace(searchString))
            show = true;
        else if (report.Team1.Abbreviation?.Equals(searchString, StringComparison.OrdinalIgnoreCase) ?? false)
            show = true;
        else if (report.Team2.Abbreviation?.Equals(searchString, StringComparison.OrdinalIgnoreCase) ?? false)
            show = true;
        else if (report.Team1.Players.Any(x => x.Name?.Equals(searchString, StringComparison.OrdinalIgnoreCase) ?? false))
            show = true;
        else if (report.Team2.Players.Any(x => x.Name?.Equals(searchString, StringComparison.OrdinalIgnoreCase) ?? false))
            show = true;

        show = show && (!_showOnlyUnkown || report.IsUnkown());

        return show;
    }

    private void CollapseAllBattleReports()
    {
        foreach (var report in _reports)
        {
            report.ShowDetails = false;
        }
    }

    private async Task ToggleShowDetailsAsync(BattleReport report)
    {
        if (!report.ShowDetails && SettingService.Settings.SingleBattleResultOpenedOnly)
        {
            CollapseAllBattleReports();
        }

        report.ShowDetails = !report.ShowDetails;
        if (report.ShowDetails)
        {
            await JSRuntime.InvokeVoidAsync("scrollIntoView", $"Timestamp_{report.MatchStart.Ticks + report.MatchDuration.GetValueOrDefault()}_achor");
        }
    }

    private async Task CopyResultAsync(BattleReport report, Team team)
    {
        await Clipboard.SetTextAsync(team.GetResult(report.MapName));
    }

    private void OpenUndefinedNamesDialog()
    {
        DialogService.Show<UndefinedNamesDialog>("Undefined Names", new DialogOptions { CloseOnEscapeKey = true });
    }
}