@inherits LayoutComponentBase

@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject SettingService SettingService


<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

@if (_isDarkMode)
{
    <style>
        .mud-table.player-table {
            --mud-palette-table-striped: rgba(0,0,0,.14);
        }

        .mud-table.player-table .mud-table-cell.sticky-left {
            background-color: none;
        }
        .mud-table.player-table .mud-table-body .mud-table-cell.sticky-left {
            background-color: var(--mud-palette-background-grey);
        }

        .mud-table.player-table .mud-table-head .mud-table-cell.sticky-left {
            background-color: #373740;
        }

        .mud-table.player-table .mud-table-body .mud-table-row:nth-of-type(odd) .mud-table-cell.sticky-left {
            background-color: #2f2f37;
        }

        .mud-table.player-table .mud-table-body .mud-table-row:nth-of-type(even) .mud-table-cell.sticky-left {
            background-color: #373740;
        }
    </style>
}

<MudLayout>
    <MudAppBar>
        @{
            var clan = string.Empty;
            if (!string.IsNullOrEmpty(SettingService.Settings.ClanAbbreviation))
            {
                clan = $"[{SettingService.Settings.ClanAbbreviation}] ";
            }
        }
        <MudText Typo="Typo.h6">@(clan)WoT Gevecht Statistieken <span style="color: var(--mud-palette-grey-dark)">V@(AppInfo.VersionString)</span></MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Refresh" Color="Color.Inherit" OnClick="Refresh" />
        <MudIconButton Icon="@(_isDarkMode ? Icons.Material.Filled.LightMode: Icons.Material.Filled.DarkMode)" Color="Color.Inherit" @onclick="() => _isDarkMode = !_isDarkMode" />
        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" OnClick="(e) => OpenSettings(true)" />
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private bool _isDarkMode = true;
    private MudThemeProvider _mudThemeProvider;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(SettingService.Settings.WotReplayDirectory) || !Directory.Exists(SettingService.Settings.WotReplayDirectory))
        {
            Snackbar.Add("Wot replay directory is niet ingevuld of bestaat niet", Severity.Warning);

            await Task.Delay(500);

            OpenSettings(false);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            StateHasChanged();
        }
    }

    private void Refresh()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

    private void OpenSettings(bool canCancel = true)
    {
        DialogService.Show<SettingsDialog>("Instellingen", new DialogParameters()
            {
                ["canCancel"] = canCancel
            }, new DialogOptions()
            {
                MaxWidth = MaxWidth.Medium,
                FullWidth = true,
                DisableBackdropClick = true,
                CloseButton = false
            });
    }
}